<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <!-- Vue -->
  <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
  <!-- Firebase -->
  <!-- <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script> -->
  <!-- VueFire -->
  <!-- <script src="https://cdn.jsdelivr.net/vuefire/1.0.0/vuefire.min.js"></script> -->

  <!-- Stylesheet -->
  <link rel="stylesheet" href="{{site.baseurl}}{{site.assets.css}}/style.css" | relative_url }}">

</head>
<body>

<main>
  <article>

    {{content}}

  </article>
</main>

</body>

<script src="app.js"></script>
